<div class="home-body-container grid">
    <mat-card class="example-card">
      <div class="heading">Register Transaction</div>
      <mat-card-content>
        <app-create-transaction></app-create-transaction>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <div class="heading">Recent Transactions</div>
      <mat-card-content>
        <app-recent-transactions></app-recent-transactions>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <div class="heading">Categories</div>
      <mat-card-content>
        <app-categories></app-categories>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <div class="heading">Subscriptions</div>
      <mat-card-content>
        <app-categories></app-categories>
      </mat-card-content>
    </mat-card>
  </div>